<div class='background'>

    <div class='row align-items-center'>
        
        <div class='col-12 mx-auto col-sm-6'>
            <button id="Home Button" href="" routerLink="/" class="navbar btn btn-primary mb-3 mt-2 col-md-12">  
              <i class="fa fa-home col-md-12">Homee</i>
            </button>
         
            <div class="container">
                <div class="row">
                  <div class="col-12">
                    <div class="input-group mb-3" >
                      <input type="text" class="form-control rounded-pill" placeholder="Search for beer" [(ngModel)]="searchQuery" (keyup)="search()" >
                    </div>
                  </div>
                </div>
                   <!-- 
                <div class="row">
                  <div class="col-12">
                    <ng-container *ngIf="sortedBeers.length > 0">
                      <div class="search-results">
                        <div *ngFor="let beer of sortedBeers" class="search-result clickable" href="BeerDetail" [routerLink]="['/detail', beer._id]">{{ beer.name }}</div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
               -->
            <div>
                
                
                <div class="card mb-1 clickable"  *ngFor="let beer of beers" href="BeerDetail" [routerLink]="['/detail', beer._id]">
                    
                    <div class="row g-0 ">
                        <div class="col-md-3">
                            <img [src]="beer.image_url" class="img-fluid rounded-start" alt="An image of a beer bottle with the beer's name labeled on it." style="width: 130px; height: 220px; object-fit: 'contain';">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h1 class="card-title" >{{beer.name}}</h1>
                                <h2 class="card-text">{{beer.tagline}}</h2>
                                <p class="card-text"><small class="text-muted"><p>Created By: {{beer.name}}</p></small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
