<div class='background'>
    <div class='row align-items-center'>
        <div class='col-12 mx-auto col-sm-6'>
            <div href="Beer" routerLink="/Beer" class="clickable">

                <div class="card mb-1">
                    <img src="../assets/beers.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h1>All beers</h1>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                    </div>
                </div>
            </div>
            <div href="RandomBeer" *ngFor="let beer of beer; trackBy: trackByFn" [routerLink]="['/RandomBeer', beer._id]" class="clickable">
                <div class="card mb-1">
                    <img src="../assets/random-beer.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h1>Random Beer</h1>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                    </div>
                </div>
            </div>
            <div href="NewBeer" routerLink="/NewBeer" class="clickable">
                <div class="card mb-1">

                    <img src="../assets/random-beer.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h1>New Beer</h1>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
